name: UI-Kit Release

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [main]
    paths:
      - '.github/**'
      - 'src/**'
      - '.eslintrc.json'
      - 'package.json'
      - 'tailwind.config.js'
      - 'tsconfig.json'
      - 'tsup.config.ts'

jobs:
  release:
    name: Build & Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@flamingo-stack'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
      
      - name: Set Version
        run: npm version "0.0.0-snapshot.$(date +%Y%m%d%H%M%S)" --no-git-tag-version

      - name: Publish to GitHub Packages
        run: npm publish --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
